@model ControllerExtensibility.Models.Result
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Result</title>
</head>
<body>
    <div>Controller: @Model.ControllerName</div>
    <div>  Action: @Model.ActionName</div>

    @*Message from Session: Hello  when SessionStateAttribute not applied *@
    @*<div>  Message from Session: @Session["Message"]</div>*@

    <div>  ViewBag Message is : @ViewBag.Message</div>
</body>
</html>