@model string
@{
    Layout = null;
}

<h2>Data</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Data</title>    
</head>
<body>
    <div>My remote data: @Model</div>
</body>
</html>